In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test_amazon.csv')

In [3]:
import nltk

In [4]:
# nltk.download('vader_lexicon')

In [6]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer 
sia = SentimentIntensityAnalyzer()

In [7]:
# Check for null values
df.isnull().sum()

label    0
text     0
dtype: int64

In [8]:
# Applying lambda to calculate probability scores
df['scores'] = df['text'].apply(lambda x: sia.polarity_scores(x))
df.head()

,label,text,scores
0,0,Not worth the money: Banks'book Oscilloscope G...,"{'neg': 0.107, 'neu': 0.831, 'pos': 0.062, 'co..."
1,0,I changed my mind: When I first reviewed this ...,"{'neg': 0.018, 'neu': 0.874, 'pos': 0.108, 'co..."
2,0,How quickly we fail...: I was initially enthus...,"{'neg': 0.147, 'neu': 0.751, 'pos': 0.102, 'co..."
3,0,DOA Did Not Power up out of the box: DOA produ...,"{'neg': 0.26, 'neu': 0.74, 'pos': 0.0, 'compou..."
4,0,support: I ordered this nursing bra after look...,"{'neg': 0.023, 'neu': 0.884, 'pos': 0.093, 'co..."

In [9]:
# To get labels according the max value from neg, pos and neutral
c = []
for i in df["scores"]:
    a = i.pop("compound")
    b = max(i, key = i.get)
    c.append(b)
df["new_labels"] = c

In [10]:
df

,label,text,scores,new_labels
0,0,Not worth the money: Banks'book Oscilloscope G...,"{'neg': 0.107, 'neu': 0.831, 'pos': 0.062}",neu
1,0,I changed my mind: When I first reviewed this ...,"{'neg': 0.018, 'neu': 0.874, 'pos': 0.108}",neu
2,0,How quickly we fail...: I was initially enthus...,"{'neg': 0.147, 'neu': 0.751, 'pos': 0.102}",neu
3,0,DOA Did Not Power up out of the box: DOA produ...,"{'neg': 0.26, 'neu': 0.74, 'pos': 0.0}",neu
4,0,support: I ordered this nursing bra after look...,"{'neg': 0.023, 'neu': 0.884, 'pos': 0.093}",neu
...,...,...,...,...
29995,0,None: Got a third of the way through and just ...,"{'neg': 0.0, 'neu': 0.85, 'pos': 0.15}",neu
29996,1,It grows on you: I didn't pay much for this cd...,"{'neg': 0.048, 'neu': 0.827, 'pos': 0.126}",neu
29997,0,Great Songs - marginal recording: It is tough ...,"{'neg': 0.081, 'neu': 0.662, 'pos': 0.257}",neu
29998,0,Don't buy this replacement!!: I should have li...,"{'neg': 0.068, 'neu': 0.774, 'pos': 0.158}",neu
29999,1,A delightful journey through some unusual Ital...,"{'neg': 0.0, 'neu': 0.637, 'pos': 0.363}",neu

In [12]:
df["new_labels"].value_counts()

neu    29787
pos      195
neg       18
Name: new_labels, dtype: int64